<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Amarel User Interface</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h1 class="text-center py-5">Amarel User Interface</h1>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form
          action="{{ url_for('dashboard')}}"
          id="form"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="fileUpload" class="form-label">Code</label>
          <input
            name="userCode"
            type="file"
            class="form-control"
            id="fileUpload"
            required
          />

          <h2>Job options</h2>
          <h6>
            For more information see the
            <a
              href="https://sites.google.com/view/cluster-user-guide/amarel?authuser=0#h.oeejy9yf80e4"
              target="_blank"
              >amarel user guide</a
            >
          </h6>

          <br />

          <label for="partition" class="form-label"
            >Partition (job queue)?</label
          >
          <select name="partition" id="partition">
            <option value="main">main</option>
            <option value="gpu">gpu</option>
            <option value="mem">mem</option>
            <option value="nonpre">nonpre</option>
            <option value="graphical">graphical</option>
          </select>

          <br />

          <label for="name" class="form-label">Job name?</label>
          <input
            name="jobName"
            type="text"
            id="name"
            class="form-control"
            required
          />

          <br />

          <label for="numNodes" class="form-label"
            >Number of nodes you require</label
          >
          <input
            name="numNodes"
            type="number"
            id="numNodes"
            min="1"
            value="1"
            class="form-control"
            required
          />

          <br />

          <label for="ram" class="form-label">RAM required (mb)</label>
          <input
            name="ram"
            type="number"
            id="ram"
            min="1024"
            value="1024"
            class="form-control"
            required
          />

          <br />
          <label for="numTasks" class="form-label"
            >Total number of tasks across all nodes</label
          >
          <input
            name="numTasks"
            type="number"
            id="numTasks"
            min="1"
            value="1"
            class="form-control"
            required
          />

          <br />

          <label for="numCores" class="form-label"
            >Number of cores per task (&gt1 if multi threaded tasks)?</label
          >
          <input
            name="numCores"
            type="number"
            id="numCores"
            min="1"
            value="1"
            class="form-control"
            required
          />

          <br />

          <label for="time" class="form-label"
            >Total Time Limit (HH:MM:SS)</label
          >
          <input
            name="time"
            type="text"
            id="time"
            class="form-control"
            required
          />

          <br />

          <button id="submitbtn" type="submit" class="btn btn-primary">
            Submit
          </button>
        </form>
        <p id="loading" class="text-center" style="display: none">loading</p>
      </div>
      <div class="col-md-4"></div>
    </div>

    <footer>
      <button
        class="btn btn-primary"
        onclick="window.location.href='/main'"
        type="button"
      >
        Return
      </button>
      <button
        class="btn btn-danger"
        onclick="window.location.href='/logout'"
        type="button"
      >
        Log Out
      </button>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <script>
      document.getElementById("form").addEventListener("submit", function (e) {
        document.getElementById("loading").style.display = "flex";
        document.getElementById("submitbtn").classList.remove("btn-primary");
        document.getElementById("submitbtn").classList.add("btn-secondary");
      });
    </script>
  </body>
</html>
